.navbar {
  padding-top: 0;
  border-top: 0;
  margin-top: 0;
}

.navbar-brand {
  padding-top: 0;
}

.navbar-dark .navbar-nav .nav-link {
  font-size:20px;
  font-weight: bold;
  font-family: "FuturaBT-Bold3", "Sans serif";
  color: #FFF;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: #FFF;
}

.dropdown-item {
  color: #FFF;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-top: .5em;
}

.dropdownTest {
  padding: 0 15px;
  line-height: 80px;
  text-transform: uppercase;
  font-family: "FuturaBT-Bold3", "Sans serif";
  font-weight: bold;
  font-size: 1.2em;
  color: #FFF;
}

main {
  padding: 50px 0 50px 0;
}

.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
    font-size: 20px;
}

.toevoegButton {
  margin-bottom: 20px;
}

.row justify-content-center {
  margin-right: 0px;
}

.container {
  max-width: 1200px;
}

.center {
  text-align: center;
}

.card-header {
  background-color: #02b0ed;
  color: white;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bolder;
}

body {
  font-family: Helvetica, sans-serif;
}

.btn-primary {
  background-color: #02b0ed;
  border-color: #02b0ed;
}

.btn-primary:hover {
  background-color: #0295ca;
}

.table td {
  vertical-align: middle;
}

.table th {
  text-transform: uppercase;
  vertical-align: middle;
}

.bg-info {
  color: #0295ca;
}

.right {
  text-align: right;
}

.table-users th{
  border-top: none;
}
